<h1>Editing party</h1>

<%= render 'form' %>
<br>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Attendants</h3>
  </div>
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Menu</h3>
  </div>
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Decoration</h3>
  </div>
  <div class="panel-body">

  </div>
</div>

<%= link_to 'Back', parties_path, class: "btn btn-default" %>
