<div class="page-header">
  <h2>Welcome to Awesome Party</h2>
  <h3>Be ready to organize the most amazing party ever!</h3>
</div>

<% unless signed_in? %>
  <h3> Sign in to start planning</h3>
  <p>
    <%= link_to "Sign in", user_omniauth_authorize_path(:doorkeeper), :class => "btn btn-primary" %>
  </p>
<% else %>
  <div>
    <p>
      You are logged in as <%= current_user.email %>
    </p>
    <p><%= link_to "See your parties", parties_path, class: "btn btn-primary" %></p>
  </div>
  
<% end %>


