development:
  DOORKEEPER_APP_ID: ""
  DOORKEEPER_APP_SECRET: ""
  DOORKEEPER_PROVIDER_URL: "http://lvh.me:3000"

test:
  DOORKEEPER_APP_ID: ""
  DOORKEEPER_APP_SECRET: ""
  DOORKEEPER_PROVIDER_URL: "http://lvh.me:3000"

production:
  DOORKEEPER_APP_ID: ""
  DOORKEEPER_APP_SECRET: ""
  DOORKEEPER_PROVIDER_URL: ""

